@import url("//fonts.googleapis.com/css?family=Advent+Pro");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Advent Pro", "Lato", "sans-serif";
  font-weight: 300;
  font-size: 1.6rem;
  background-color: #eee;
  overflow-x: hidden;
}

.wrapper {
  display: grid;

  grid-template-columns:
    [page-start] 1fr [main-start] minmax(min-content, 40%) minmax(
      min-content,
      40%
    )
    [main-end] 1fr [page-end];
  grid-template-rows: calc(100vh) repeat(3, minmax(min-content, 1fr));
  grid-gap: 3rem;

  background: linear-gradient(231deg, #4219e4, #3091e1, #8648ee);
  background-size: 600% 600%;

  -webkit-animation: gradientAnimation 30s ease infinite;
  -moz-animation: gradientAnimation 30s ease infinite;
  animation: gradientAnimation 30s ease infinite;
  /* will-change: transform; */
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}

@media screen and (max-width: 56.25em) {
  .wrapper {
    grid-template-columns:
      [main-start maincontent-start] minmax(min-content, 1fr)
      [maincontent-end mainsubcontent-start] minmax(min-content, 1fr)
      [mainsubcontent-end main-end];
  }
}

@media screen and (max-width: 22.5em) {
  .wrapper {
    grid-template-columns: [main-start ] 1fr [ main-end];
  }
}
/* helpers */

section {
  padding: 2rem;
}

.secondary--heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  align-self: center;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  color: #08fdd8;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

.btn--black {
  background-color: #1d1d1d;
  color: #777;
}

.inside--list {
  list-style-type: none;
  margin-left: 2rem;
  color: #08fdd8;
}

/* navigation */

nav {
  background: #fff;
  padding: 1rem 1.5rem;
  z-index: 999999;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.fixed-nav .links a {
  color: hsl(209, 61%, 16%);
}
.fixed-nav .links a:hover {
  color: hsla(182, 63%, 54%);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  color: hsl(209, 61%, 16%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsla(182, 63%, 54%);
}

.line1,
.line2,
.line3 {
  width: 2rem;
  height: 0.2rem;
  background-color: #08fdd8;
  margin: 0.6rem;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 200px;
}
.links a {
  background: #fff;
  color: hsl(210, 22%, 49%);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  display: block;
  transition: all 0.3s linear;
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: hsl(209, 61%, 16%);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    display: block;
    transition: all 0.3s linear;
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: #fff;
  }
}

.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: hsla(182, 63%, 54%);
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 2000;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

header {
  min-height: 100vh;
  grid-column: main-start/main-end;
  /* grid-row: 1/2; */
  font-size: 2rem;
}

.container {
  min-height: 50vh;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* .container a {
  width: 100%;
} */

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  /* background-image: url(/img/20200529_203939.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat; */
}

/* about section */

.about {
  grid-column: main-start/main-end;
  grid-row: 2/3;
  font-size: 2.2rem;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem repeat(2, minmax(min-content, 1fr));
  grid-gap: 2rem;
}

@media screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.about--heading {
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.about__me,
.about__courses,
.about__education {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  color: #fff;
  /* min-height: 35rem; */
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__courses ul {
  list-style-type: none;
  text-align: left;
}

.about__courses li:nth-child(even) {
  color: #08fdd8;
}

.about__courses--list-item::before {
  content: "\261E";
  margin-right: 1rem;
}
/* Project  */

#project {
  grid-column: main-start/main-end;
  grid-row: 3/4;
  display: grid;

  grid-template-columns: 1fr 1fr;
  font-size: 2.2rem;
  grid-template-rows: 5rem minmax(min-content, 1fr);
}

.project__primary--heading {
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.project__skills {
  display: flex;
  justify-content: space-evenly;
  grid-column: 2/3;
  max-height: calc(100vh - 10rem);
  align-items: flex-start;
}

@media screen and (max-width: 56.25em) {
  .project__skills {
    grid-column: 1/-1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.project__skills--programming,
.project__skills--tools {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
}

.project__skills--programming h2,
.project__skills--tools h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media screen and (max-width: 56.25em) {
  .project__skills--programming,
  .project__skills--tools {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .project__skills--programming h2,
  .project__skills--tools h2 {
    width: 100%;
  }
}

.project__skills--skill {
  padding: 1rem;
  margin: 2rem;
  width: 8rem;
  height: 7.5rem;
  transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative;
}

.project__skills--skill:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem #fff);
  filter: drop-shadow(0 0 0.75rem #fff);
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}

.project__skills--skill::before {
  content: attr(id);
  font-size: 2.4rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media screen and (max-width: 56.25em) {
  .project__skills--skill::before {
    opacity: 1;
    top: 15px;
    -webkit-filter: drop-shadow(0 0 0.75rem #fff);
    filter: drop-shadow(0 0 0.75rem #fff);
  }
}

.project__skills--skill:hover::before {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 0.75rem #fff);
  filter: drop-shadow(0 0 0.75rem #fff);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/*    PROJECT PROJECTS     */

.project__projects {
  grid-column: 1/2;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  place-items: center;
  max-height: calc(60vh - 10rem);
}

@media screen and (max-width: 56.25em) {
  .project__projects {
    grid-column: 1/-1;
    place-items: center;
  }
}

@media screen and (max-width: 27.5em) {
  .project__projects {
    grid-template-columns: 1fr;
  }
}

.project__projects--single {
  font-size: 1.6rem;
  color: black;
  min-width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 56.25em) {
  .project__projects--single {
    min-height: 15rem;
  }
}

.project__projects--single:hover {
  background-color: rgba(63, 63, 63, 0.152);
  color: black;
  z-index: 999;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.project__projects--single::before {
  content: "";
  position: absolute;
  left: -15%;
  top: -50%;
  min-width: 130%;
  min-height: 200%;
  border: 1px solid magenta;
  background-color: #d1d1d1;
  opacity: 0.5;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.project__projects--single:nth-child(odd):hover::before {
  transform: translateY(35rem);
  -webkit-transform: translateY(35rem);
  -moz-transform: translateY(35rem);
  -ms-transform: translateY(35rem);
  -o-transform: translateY(35rem);
}

.project__projects--single:nth-child(even):hover::before {
  transform: translateY(-35rem);
  -moz-transform: translateY(-35rem);
  -ms-transform: translateY(-35rem);
  -o-transform: translateY(-35rem);
  -webkit-transform: translateY(-35rem);
}

.project--heading {
  padding: 1rem;
  -webkit-filter: drop-shadow(3px 3px 3px rgb(34, 34, 34));
  filter: drop-shadow(3px 3px 3px rgb(34, 34, 34));
}

.project__project--single-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.project__project--single-btns a {
  width: 45%;
  height: 4rem;
  background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
  background-size: 200%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.project__project--single-btns a:hover {
  background-position: right;
}

.bingo,
.memory__game,
.vila__kg,
.portfolio {
  background-image: url("../img/BingoScreen.png");
  background-size: contain;
  background-blend-mode: overlay;
}

.memory__game {
  background-image: url("../img/MemoryGame.png");
}

.vila__kg {
  background-image: url("../img/VilaKgScreen.png");
}

.portfolio {
  background-image: url("../img/portfolio.png");
}

/* CONTACT */

#contact {
  grid-column: main-start/main-end;
  grid-row: 4/5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: flex-start center;
  grid-template-rows: 5rem minmax(min-content, 10rem);
  grid-gap: 3rem;
}

@media screen and (max-width: 56.25em) {
  #contact {
    grid-template-columns: 1fr;
  }
}

#contact h1 {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contact__information,
.contact__form {
  background-color: #fff;
  border-radius: 20px;
  min-width: 80%;
  /*min-height: 100%;
  */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}

@media screen and (max-width: 56.25em) {
  .contact__information,
  .contact__form {
    width: 80%;
    padding: 0;
  }
}

.contact__information {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

#gform {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
}

input,
label,
textarea {
  border: none;
  background-color: #ccc;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  color: black;
  font-family: inherit;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

label {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
}

textarea {
  height: 20rem;
  resize: vertical;
}

#submit {
  cursor: pointer;
}

.contact__information--list li {
  font-size: 2.2rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.valid {
  background-color: rgba(170, 249, 164, 0.9);
}

.success__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 5rem; */
  font-size: 3rem;
  font-weight: 900;
  background-color: rgba(170, 249, 164, 0.9);
}
